# Session Data files
.RData

# RStudio files
.Rproj.user/

.Rproj

# History files
.Rhistory

.Rproj.user/shared/notebooks/CF3271B4-README/1/s/chunks.json
.Rproj.user/ED6850B5/sources/prop/C451E7A2
.Rproj.user/shared/notebooks/CF3271B4-README/1/s/chunks.json
